linux_x64
linux_ia32
win32_x64
win32_ia32
lib/bridjs/win32_x64
node_modules
dyncall
*~
.DS_Store
non_committable_experiments
node-x86.exe
node-x86
node
node.exe
win32_x64/binding.gyp
/build/netbeans/build/
/build/netbeans/dist/
/ide/netbeans/dist/
/ide/netbeans/build/